name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    env:
      DOCKER_USER: ${{secrets.DOCKERHUB_USER}}
      DOCKER_PASSWORD: ${{secrets.DOCKERHUB_PASSWORD}}
      DOCKER_REPO_NAME: "binclock"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Docker login
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    
    - name: Build the Docker image, clock
      run: DOCKER_BUILDKIT=1 docker build . -f ClockMqtt/Dockerfile -t $DOCKER_USER/$DOCKER_REPO_NAME:clock_$(date +%s)
    
    - name: Build the Docker image, display
      run: DOCKER_BUILDKIT=1 docker build . -f DisplayMqtt/Dockerfile -t $DOCKER_USER/$DOCKER_REPO_NAME:display_$(date +%s)
    
    - name: Build the Docker image, timer
      run: DOCKER_BUILDKIT=1 docker build . -f TimerMqtt/Dockerfile -t $DOCKER_USER/$DOCKER_REPO_NAME:timer_$(date +%s)
      
    - name: Upload images
      run: docker push $DOCKER_USER/$DOCKER_REPO_NAME -a
